@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h2>Add a Flavor to @Html.DisplayFor(model=> model.TreatName) </h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Add Flavor" class="btn btn-info btn-sm" />
}

<p>@Html.ActionLink("Go back to Details", "Details", new { id = Model.TreatId })</p>